<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Place</th>
      <th>Location</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Rating</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each placegroup.places}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{location}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          {{lat}}°
        </td>
        <td>
          {{long}}°
        </td>
        <td>
          {{rating}}
        </td>
        <td>
          {{> thumbnail}}
        </td>
        <td>
          {{> map}}
        </td>
        <td>
          <a href="/placegroup/{{../placegroup._id}}/deleteplace/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
